{% extends 'nutbar.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<h1 style="text-align:center">About Eightball</h1>
    <p>
        The Eightball is a project that generates random answers to questions you might have.
        It is a good tool for users that have questions about life and can't find answers.
        Simply type your question into the text box in the question page and submit it.
        You will be automatically taken to the answer page, which will give you an answer to your question.
        If you prefer, you can also generate a random answer immediately by going right to the answer page.
        Thank you for choosing us for all of your Eightball needs. Enjoy asking questions.
    </p>
{% endblock content %}