{% extends 'nutbar.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Your Question Here</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question">
    <small id="emailHelp" class="form-text text-muted">Don't ask a bad question</small>
  </div>
    <a href="{% url 'answer' %}" class="btn btn-lg btn-success" role="button">Get an answer NOW!</a>
</form>
{% endblock content %}